@use "@/styles/mixins.scss" as mixins;

.header {
    @include mixins.center-x;
    position: fixed;
    top: 2.125rem;

    display: flex;
    align-items: center;
    gap: 2.3rem;

    max-height: 3.125rem;

    padding: 0.875rem 0.5rem;
    padding-left: 0;

    border-radius: 3.75rem;
    background: linear-gradient(143.36deg, rgba(247, 247, 245, 0.3) 9.66%, rgba(248, 247, 245, 0.3) 67.35%);

    backdrop-filter: blur(50px);

    will-change: width;
    transition: all .3s;
    z-index: 100;

    &:hover {
        width: 17.7rem;
    }

    &__image {
        position: relative;
        width: 3.5rem;
        height: 1.7rem;
        min-width: 3.5rem;
        min-height: 1.7rem;
    }

    &__list {
        display: flex;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__link {
        position: relative;
        display: inline-block;

        font-weight: 500;
        font-size: 0.825rem;
        color: var(--color-white);
        max-width: fit-content;

        height: .825rem;
        overflow: hidden;
        transition: color 0.3s ease;

        &__text {
            @include mixins.animation;
            display: block;
        }

        &__hover {
            @include mixins.animation;
            position: absolute;
            top: 100%;
            left: 0;

            display: block;

            transform: translateY(0);
        }

        &:hover {
            .header__link__text {
                transform: translateY(-100%);
            }

            .header__link__hover {
                transform: translateY(-100%);
            }
        }
    }

    &__button {
        position: relative;
        min-width: 2.2rem;
        min-height: 2.2rem;

        background: transparent;

        padding: 0;
        border-radius: 100%;

        overflow: hidden;
        cursor: pointer;

        &__circle {
            @include mixins.animation;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            circle {
                stroke: #ffffff70;
                transition: stroke 0.3s ease;
            }
        }

        &__menu {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            pointer-events: none;
        }

        &:hover {
            .header__button__circle {
                circle {
                    stroke: var(--color-white);
                }
            }
        }
    }
}